*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}


img{
    width:100%;
}
.inter{
    font-family: Inter;
}
.noto-serif{
    font-family: Noto Serif;
}
.orange{
    color: #E95A08;
    font-weight: 700;
}
.gray{
    color: #00000050;
}

/* Header part design start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
}

.nav-items{
    display: flex;
    

}
.nav-items ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}

.nav-items a{
    text-decoration: none;
    color: black;
    
}
.cart-and-text{
    display: flex;
    gap: 5px;
}

/* Header part design end */

/* Section-1 design start */
.section-1{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    
}

.section-1-text{
    width: 50%;
    margin: auto;
     
    
    margin-bottom: 0px;
}
.section-1 h1{
    font-size: 65px;
}
.section-1-text p{
    font-size: 22px;
}


.section-1-img{
    width: 50%;
    margin: auto;
 
}

/* Section-1 design end */

/* section-2 design start */

