*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}


img{
    width:100%;
   
}
.inter{
    font-family: Inter;
}
.noto-serif{
    font-family: Noto Serif;
}
.orange{
    color: #E95A08;
    font-weight: 700;
}
.gray{
    color: #00000050;
}

/* Header part design start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
}

.nav-items{
    display: flex;
    

}
.nav-items ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}

.nav-items a{
    text-decoration: none;
    color: black;
    
}
.cart-and-text{
    display: flex;
    gap: 5px;
}

/* Header part design end */

/* Section-1 design start */
.section-1{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    
}

.section-1-text{
    width: 50%;
    margin: auto;
     
    
    margin-bottom: 0px;
}
.section-1 h1{
    font-size: 65px;
}
.section-1-text p{
    font-size: 22px;
}


.section-1-img{
    width: 50%;
    margin: auto;
 
}

/* Section-1 design end */

/* section-2 design start */
.btn-class{
    background-color: #E95A08;
    color: white;
    font-family: Inter;
    padding: 11px 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 93%;
    
}

.section-2{
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
}


.section-2-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.grid-img{
    padding: 10px;
    margin-bottom: 10px;
}
.section-2-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-2-text p{
    font-size: 22px;
    margin-bottom: 30px;
}

.grid-card{
    margin-bottom: 30px;
}
.grid-card button{
margin-top: 20px;
}

.flower-name{
    font-weight: 500;
    color: #111111;
    font-size: 22px;
    margin-bottom: 5px;
}
.flower-price{
font-weight: 700;
color: #111111;
font-size: 22px;
}

/* Section-2 design end */

/* Section-3 design start */
.section-3{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
}
.section-3-img{
    display: flex;
}
.pic{
  height: 80%;
  
}

.badge{
    width: 40%;
    height: 40%;
    margin-left: -150px;
    margin-top: -110px;
    
}

.section-3-text{
    align-items: center;
}
.section-3-text ul{
    font-size: 22px;
}
.section-3-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.section-3-text li{
    margin-bottom: 20px;
}

/* section-3 design end */

/* section-4 design start */
.section-4{
    max-width: 1140px;
    margin:auto;
    text-align: center;
    margin-bottom: 120px;
}

.section-4 h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;

}
.section-4 p{
    font-size: 22px;
    margin-bottom: 120px;

}
.section-4-img{
    display: flex;
    justify-content: space-between;
   
    margin: auto;
   
    
    
}



.pic-1{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    width: 30vw;
    height: 30vh;
    border: 1px solid #F5F8FF;
    
   
}
   
.pic-2{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 30vw;
    border: 2px solid #F5F8FF;
}
.pic-3{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     
     width: 50vw;
     height: 64vh;
     
}


.pic-1-2-div h2{
   color: white;
   font-weight: 700;
   font-size: 20px;
   font-family: Noto Serif;
 
  
   
}
.pic-1-2-div h3{
    color: white;
    font-weight: 600;
    font-family: Inter;
   
}
.pic-1, .pic-2, .pic-3{
    border-radius: 14px;
    
    
}
.pic-1 h2{
     margin-top: 50px;
  margin-bottom: 10px;
}
 .pic-2 h2{
      margin-top: 50px;
  margin-bottom: 10px;
 }
.pic-3 h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: Noto Serif;
    margin-top: 150px;
    margin-bottom: 5px;
    
}
.pic-3 h3{
     font-size: 28px;
    font-weight: 600;
    color: white;
    font-family: Inter;
}
