*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}


img{
    width:100%;
   
}
.inter{
    font-family: Inter;
}
.noto-serif{
    font-family: Noto Serif;
}
.orange{
    color: #E95A08;
    font-weight: 700;
}
.gray{
    color: #00000050;
}

/* Header part design start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
}

.nav-items{
    display: flex;
    

}
.nav-items ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}

.nav-items a{
    text-decoration: none;
    color: black;
    
}
.cart-and-text{
    display: flex;
    gap: 5px;
}

/* Header part design end */

/* Section-1 design start */
.section-1{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    
}

.section-1-text{
    width: 50%;
    margin: auto;
     
    
    margin-bottom: 0px;
}
.section-1 h1{
    font-size: 65px;
}
.section-1-text p{
    font-size: 22px;
}


.section-1-img{
    width: 50%;
    margin: auto;
 
}

/* Section-1 design end */

/* section-2 design start */
.btn-class{
    background-color: #E95A08;
    color: white;
    font-family: Inter;
    padding: 11px 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 93%;
    
}

.section-2{
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
}


.section-2-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.grid-img{
    padding: 10px;
    margin-bottom: 10px;
}
.section-2-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-2-text p{
    font-size: 22px;
    margin-bottom: 30px;
}

.grid-card{
    margin-bottom: 30px;
}
.grid-card button{
margin-top: 20px;
}

.flower-name{
    font-weight: 500;
    color: #111111;
    font-size: 22px;
    margin-bottom: 5px;
}
.flower-price{
font-weight: 700;
color: #111111;
font-size: 22px;
}

/* Section-2 design end */

/* Section-3 design start */
.section-3{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
}
.section-3-img{
    display: flex;
    width: 50%;
}
.pic{
  height: 80%;
  
}

.badge{
    width: 40%;
    height: 40%;
    margin-left: -150px;
    margin-top: -110px;
    filter: drop-shadow(4px 9px 2px #00000025);
    
}

.section-3-text{
    align-items: center;
    width: 50%;
}
.section-3-text ul{
    font-size: 22px;
}
.section-3-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.section-3-text li{
    margin-bottom: 20px;
}

/* section-3 design end */

/* section-4 design start */

.section-4{
   
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
.image-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 28px;
    align-items: center;
}
.left-container{
    width: 32.193%;
    
}
.right-container{
    width: 67.807%;
}
.first-pic{
    position: relative;
    margin-bottom: 30px;
   
}
.first-pic img{
    border-radius: 14px;
    filter: brightness(60%);
}
.first-text{
    position: absolute;
    bottom: 38%;
    left: 19%;
}
.second-pic img{
    border-radius: 14px;
    filter: brightness(55%);
}
.second-pic{
    position: relative;
  
}
.second-text{
    position: absolute;
    bottom: 42%;
    left: 24%;
}
.first-text h2, .second-pic h2{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;

}

.left-container a{
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    color: white;
}
.right-container{
    position: relative;
   
}
.third-text{
    position: absolute;
    bottom: 40%;
    left: 23%;
}

.right-container img{
    border-radius: 22px;
    filter: brightness(60%);
}
.third-text h2{
       font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
   
}
.third-text a{
     font-size: 28px;
    font-weight: 600;
    font-family: Inter;
    color: white;
}

.section-4 h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.section-4 p{
    max-width: 888px;
    margin: auto;
    font-size:22px;
    margin-bottom: 100px;
}
.section-4{
    margin-bottom: 120px;
}

/* Section-4 design end */

/* Section-5 design start */
.section-5{
    max-width: 100%;
   
    margin-bottom: 120px;
}
.section-5-div{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   text-align: center;
   
}

.section-5-div h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 23px;
    color: white;
    
     
}

.section-5-div input{
    padding: 12px 20px;
    width: 644px;
    
}

.section-5-div button{
     background-color: #E95A08;
   
  
    padding: 8px 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    
    
}

.section-5-div a{
 color: white;
 font-family: Inter;
 text-decoration: none;
}

.form{
    display: flex;
    justify-content: center;
}

/* Section-5 design end */

/* Footer part design start */

